<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

    <head>
        <title>Login</title>

    </head>


    <body>
        <div class="hero-page">

            <div class="main-frame text-center splash">
                <div class="width-100">

               
                <img src="/images/logo-blackpng.png" alt="" id="splash-img">
            </div>
               <a href="/main"><button class="splash-button">Start</button></a>


            </div>


        </div>


        <% include partials/bottom.ejs %>

            </div>
            </div>
            </div>
            <div id="hero-page"></div>
            </div>
            <script>



            </script>

    </body>

</html>