<!DOCTYPE html>
<html>
<% include partials/head.ejs %>

    <head>
        <title>Login</title>

    </head>


    <body>
        <div class="hero-page-team">
            <div class="container my-5">
                <div class="row team-mt">
                    <!-- TIMO -->
                    <div class="col-sm-4">
                        <div class="col-sm-12 team-card">
                            <div class="row">
                                <div class="col-5 team-member">
                                    <img src="/images/timo.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-7 team-text">
                                    <h3>Timo Wielink</h3>
                                    <p>Designer & Developer</p>
                                    <div class="social-icons">
                                        <a href="#" class=""><img src="/images/linkedin.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/twitter.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/github.png" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-12 stats">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">3</p>
                                            </div>
                                            <p class="stats-p ">Hours of sleep</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">12</p>
                                            </div>
                                            <p class="stats-p ">Energy Drinks</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">1K</p>
                                            </div>
                                            <p class="stats-p ">lines Of Code</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">99</p>
                                            </div>
                                            <p class="stats-p ">Bugs Created</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TIM -->
                    <div class="col-sm-4">
                        <div class="col-sm-12 team-card">
                            <div class="row">
                                <div class="col-5 team-member">
                                    <img src="/images/tim.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-7 team-text">
                                    <h3>Tim Brinkman</h3>
                                    <p>Data Analyst</p>
                                    <div class="social-icons">
                                        <a href="#" class=""><img src="/images/linkedin.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/twitter.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/github.png" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-12 stats">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">32</p>
                                            </div>
                                            <p class="stats-p ">Hours of sleep</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">1</p>
                                            </div>
                                            <p class="stats-p ">Energy Drinks</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">??</p>
                                            </div>
                                            <p class="stats-p ">lines Of Code</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">3</p>
                                            </div>
                                            <p class="stats-p ">Bugs Created</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MORRY -->
                    <div class="col-sm-4">
                        <div class="col-sm-12 team-card">
                            <div class="row">
                                <div class="col-5 team-member">
                                    <img src="/images/morry.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-7 team-text">
                                    <h3>Moritz Hofman</h3>
                                    <p>Designer & Developer</p>
                                    <div class="social-icons">
                                        <a href="#" class=""><img src="/images/linkedin.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/twitter.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/github.png" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-12 stats">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">12</p>
                                            </div>
                                            <p class="stats-p ">Hours of sleep</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">35</p>
                                            </div>
                                            <p class="stats-p ">Energy Drinks</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">1K+</p>
                                            </div>
                                            <p class="stats-p ">lines Of Code</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">0</p>
                                            </div>
                                            <p class="stats-p ">Bugs Created</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MARK -->
                    <div class="col-sm-4">
                        <div class="col-sm-12 team-card">
                            <div class="row">
                                <div class="col-5 team-member">
                                    <img src="/images/mark.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-7 team-text">
                                    <h3>Mark De La Court</h3>
                                    <p>Mobile Developer</p>
                                    <div class="social-icons">
                                        <a href="#" class=""><img src="/images/linkedin.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/twitter.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/github.png" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-12 stats">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">12</p>
                                            </div>
                                            <p class="stats-p ">Hours of sleep</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">2</p>
                                            </div>
                                            <p class="stats-p ">Energy Drinks</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">1k+</p>
                                            </div>
                                            <p class="stats-p ">lines Of Code</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">3</p>
                                            </div>
                                            <p class="stats-p ">Bugs Created</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PHILLIP -->
                    <div class="col-sm-4">
                        <div class="col-sm-12 team-card">
                            <div class="row">
                                <div class="col-5 team-member">
                                    <img src="/images/Phillip.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-7 team-text">
                                    <h3>Philipp Nürnberger</h3>
                                    <p>Data Analyst</p>
                                    <div class="social-icons">
                                        <a href="#" class=""><img src="/images/linkedin.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/twitter.png" alt=""></a>
                                        <a href="#" class="card-icon"><img src="/images/github.png" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-12 stats">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">9</p>
                                            </div>
                                            <p class="stats-p ">Hours of sleep</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">0</p>
                                            </div>
                                            <p class="stats-p ">Energy Drinks</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">??</p>
                                            </div>
                                            <p class="stats-p ">lines Of Code</p>
                                        </div>
                                        <div class="col-3">
                                            <div class="stats-card">
                                                <p class="stat-text">2</p>
                                            </div>
                                            <p class="stats-p ">Bugs Created</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Live Blog Differnet heigth -->
                    <!-- <div class="col-sm-4">
                        <div class="col-sm-12 team-card blog-card">
                            <h4>Follow our live blog</h4>
                        </div>
                    </div> -->
                </div>
                <% include partials/bottom.ejs %>
            </div>
        </div>
        <div id="hero-page-team"></div>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                particlesJS.load('hero-page', '/particlesjs-config.json', function () {
                    console.log('particles.js loaded - callback');
                });
            });

        </script>

    </body>

</html>